<div id="modal" class="success">
    <div class="content">
        {# <img src="/assets/icones/check.svg" alt="Erro ao cadastrar"> #}
        <h1>Erro ao cadastrar</h1>
    </div>
</div>

<script>
    setTimeout(() => {
    window.location = "/create-point"
    }, 2000)
</script>