
#page-create-point {
    width: 90%;
    max-width: 1100px;
    height: 100%;

    margin: 0 auto;
}

#page-create-point header{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-create-point header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 5px;
    display: flex;
    background-image: url('../assets/icones/arrow-left.svg');
    height: 24px;
    width: 20px;
}

form {
    background-color: #fff;

    padding: 64px;
    margin: 80px auto;
    border-radius: 8px;

    max-width: 730px;
}

form h1 {
    font-size: 36px;

}

form fieldset {
    margin-top: 36px;
    border: 0;
}

form legend {
    margin-bottom: 40px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

form legend h2 {
    font-size: 24px;
    margin-bottom: 36px;
}

form legend span {
    font-size: 14px;
    color: var(--title-color);
}

form .field {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form input, form select {
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    width: 100%;
    font-size: 16px;

    border-radius: 8px;

    outline: rgb(65, 65, 65);
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

/* Aplicando propriedade apenas ao segundo .field dentro do .field-group */
form .field-group .field + .field {
    margin-left: 24px;
    /* max-width: 35%; */
}


form button {
    width: 100%;
    height: 56px;
    margin-top: 40px;

    background-color: var(--primary-color);
    border-radius: 8px;
    border: 0;
    display: block;

    color: #fff;
    font-weight: bold;
    font-size: 16px;

    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fb86e;
}

.items-grid {
    display: grid;
    /* Divide os items em 3 colunas */
    grid-template-columns: 1fr 1fr 1fr; 
    /* Espaço entre os items */
    gap: 16px;
    /* border-radius: 8px; */
}

.items-grid li {
    background-color: #f5f5f5;

    /* Remove os bullet points */
    list-style: none;

    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;

    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    cursor: pointer;
}

.items-grid li span {
    margin-top: 8px;
    flex: 1;

    display: flex;
    align-items: center;

    color: var(--title-color);
}

.items-grid li.selected {
    background-color: #E1FaEc;
    border: 2px solid #34cb79;
}

.items-grid li img,
.items-grid li span {
    pointer-events: none;
}
