body {
    background-color: #fff;
}

body::after {
    content: "";
    position: absolute;
    background: #e5faf9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* rem stands for root element and it gets */
    height: 16rem;
    z-index: -1;
}

#page-search-results {
    width: 90%;
    max-width: 1100px;
    height: 100%;

    margin: 0 auto;
}

#page-search-results header{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-search-results header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
    align-items: center;
}

#page-search-results header a span {
    margin-right: 5px;
    display: flex;
    background-image: url('../assets/icones/arrow-left.svg');
    height: 24px;
    width: 20px;
}

main {
     margin: 48px;
}

main h4 {
    font-weight: normal;
    font-family: Roboto, sans-serif;

    margin-bottom: 32px;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 24px;
}

main .card img {
     width: 100%;
     height: 150px;

     object-fit: cover;

     border-radius: 8px 8px 0 0;
}

main .card h1 {
    font-size: 36px;
    line-height: 40px;

    margin-top: 24px;

    color: var(--title-color);
}

main .card h3 {
    font-size: 24px;
    line-height: 34px;

    font-family: Roboto, sans-serif;
    font-weight: bold;

    margin: 24px 0 16px;

    color: var(--primary-color);
}

main .card p {
    font-size: 16px;
    line-height: 26px;

    color: #6c6c80;
}

