
@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
        padding-top: 0px;
        
    }
    #page-home main a {
        margin: 16px 5px;
    }


    #page-search-results .cards{
        grid-template-columns: 1fr;

    }

    #page-search-results .cards img {
        height: 250px;

    }
   
}

@media (max-width: 645px) {
    #page-create-point form  {
        padding: 32px;
    }
    

    #page-create-point form .field-group {
        flex-direction: column;

    }
    #page-create-point form .field{
        margin: 4px;
    }

    .items-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .items-grid li {

        height: auto;
        width: auto;
    
        padding: 32px 24px 16px;

    }

}

@media (min-width: 1700px){
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-heigth: 760px){
    #page-home {
        background-position-y: 200px;
    }
}


